<!DOCTYPE html>
<html>
<head>
    <title>Consultas AW-2017</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/dimensiones.css">
    <link rel="stylesheet" href="../css/fuentes.css">
</head>
<body class="fondo"> 
    <header>
        <div class = "contenedor_Titulo" ><h1>Adventure Works - 2017</h1></div>        
    </header>
    <div class = "contenedor1" >
        <h2>Módulos</h2>
        <div class="contenedor_Nav">
            <nav class="navegador_Principal">
                <ul>
                    <li><a href = "" >Productos</a></li>   
                    <li><a href = "" >Ventas</a></li> 
                    <li><a href = "" >Vendedores</a></li>  
                    <li><a href = "" >Clientes</a></li>  
                    <li><a href = "" >Proveedores</a></li>                   
                </ul>
            </nav>
        </div> 
    </div>
</body>
<footer>

</footer>
</html>