<!DOCTYPE html>
<html>
<head>
    <title>Consultas AW-2017</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/dimensiones.css">
    <link rel="stylesheet" href="../css/fuentes.css">
</head>
<body class="fondo">
    <header>
        <nav class="navegador_Principal">
            <ul>
                <li>
                    <a href = "www.google.com" >pasteleras.com</a>
                </li>
                <li>

                </li>
            </ul>
        </nav>
    </header>
    <div class = "contenedor1" >
        <h1>Está vivo D:</h1>
        <h1>Está vivo D:</h1>      
    </div>
</body>
<footer>

</footer>
</html>