
.contenedor1{
    background-color: black;
    opacity: 90%;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 0.5em;
    padding: 40px;
    padding-bottom: 100px;
    margin-bottom: 200px;
    overflow: hidden;
}
.contenedor1 div{
    float: left;
}

.columna1{
    width: 20%;
    
    height: auto;
    padding: 10px;
}
.columna2{
    padding: 10px;
    width: 50%;
    text-align: center;
    
}
.contenedor_Nav{       
    padding: 10px;
    width: 250px;
    margin-bottom: 25px;
}

.contenedor_Titulo{
    background-color: black;
    opacity: 70%;
    width: 35%;
    
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 0.5em;
    text-align: center;
    padding: .3em;
    
}
.enlace_Inicio{
    border-radius: 0.5em;
    background-color: white;
    padding: 10px;
    margin: 25px;    
}
.fondo{
    background-image: url(../../../assets/patron_fondo9.jpg);
    height: auto;
    padding-bottom: 100px;
}
.navegador_Principal{
    padding: 5px;
    border-radius: 0.5em;
    width: 200px;
    height: 250px;
    margin: 10px;
    background-color: white;

}
.navegador_Principal ul li{
    list-style: none;
    margin-bottom: 20px;
}
body {
    padding-top: 20px;
    margin: 0em;    
}