<!DOCTYPE html>
<html>
<head>
    <title>Consultas - Productos</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/dimensiones.css">
    <link rel="stylesheet" href="../css/fuentes.css">
</head>
<body class="fondo"> 
    <header>
        <div class = "contenedor_Titulo" ><h1>Adventure Works - 2017</h1></div>        
    </header>
    <div class="contenedor1">
        <h2>Realice su consulta sobre la información de cualquiera de los productos de la base de datos en </h2>
        <div class = "columna1">                
            <h2>Módulos</h2>                                           
            <div class="contenedor_Nav">
                <nav class="navegador_Principal">
                <ul>
                    <li><a href = "" >Productos</a></li>   
                    <li><a href = "" >Ventas</a></li> 
                    <li><a href = "" >Vendedores</a></li>  
                    <li><a href = "" >Clientes</a></li>  
                    <li><a href = "" >Proveedores</a></li>                   
                </ul>
                </nav>
            </div> 
            <a href="inicio" class="enlace_Inicio">Volver al inicio</a>            
        </div>
        <div class="columna2">
            <h2>Módulo Producto</h2>            
            <input type="text" placeholder="Buscar">

            
        </div>
    </div>
</body>
<footer>

</footer>
</html>