<!DOCTYPE html>
<html>
<head>
    <title>Consultas - Productos</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/dimensiones.css">
    <link rel="stylesheet" href="../css/fuentes.css">
</head>
<body class="fondo"> 
    <header>
        <div class = "contenedor_Titulo" ><h1>Adventure Works - 2017</h1></div>        
    </header>
    <div class="contenedor1">
        <h2>Conserve en detalle los datos relacionados a los vendedores así como info relacionada a sus clientes</h2>
        <div class = "columna1">                
            <h2>Módulos</h2>                                           
            <div class="contenedor_Nav">
                <nav class="navegador_Principal">
                <ul>
                    <li><a href = "/productos" >Productos</a></li>   
                    <li><a href = "/ventas" >Ventas</a></li> 
                    <li><a href = "/vendedores" >Vendedores</a></li>  
                    <li><a href = "/clientes" >Clientes</a></li>  
                    <li><a href = "/proveedores" >Proveedores</a></li>                                   
                </ul>
                </nav>
            </div> 
            <a href="inicio" class="enlace_Inicio">Volver al inicio</a>            
        </div>
        <div class="columna2">
            <h2>Módulo vendedores</h2>            
            <input type="text" placeholder="Buscar">
            
        </div>
        <div class="columna3">
            <ul>
                <li><img src="../../../assets/contacto2.jpg" alt="" class="foto_Contacto"></li>
                <li>Nombre<input type="text" readonly></li>
                <li>Apellido<input type="text" readonly></li>
                <li>Id de vendedor<input type="text" readonly></li>
            </ul>
        </div>
    </div>
</body>
<footer>

</footer>
</html>